section#messages
  div.message
section#inputs
  input(
    type="text",
    placeholder="Enter message...",
    #message_box,
    autofocus,
    (keyup.enter)="processMessageFrom($event, message_box)")
  input(
    type="submit",
    value="Send",
    (click)="sendMessageFrom(message_box)",
    [disabled]="message_box.value === ''")
