section#room
  ul.messages
    li(*ng-for="#message of messageService.findAll()")
      span
        strong &lt;{{ message.author }}&gt;
        |  {{ message.content }}
section#inputs
  span
    strong {{ nickname }}:
  input(
    type="text",
    placeholder="Enter message...",
    #message_box,
    autofocus,
    (keyup.enter)="processMessageFrom($event, message_box)")
  input(
    type="submit",
    value="Send",
    (click)="sendMessageFrom(message_box)",
    [disabled]="message_box.value === ''")
