doctype html
html
  head
    title feux de joie
    link(rel="stylesheet", href="/assets/css/app.css")
    script(src="https://github.jspm.io/jmcriffey/bower-traceur-runtime@0.0.89/traceur-runtime.js")
    script(src="https://jspm.io/system@0.16.js")
    script(src="https://code.angularjs.org/2.0.0-alpha.25/angular2.dev.js")
  body
    hello-world
    header.container
    section.container
      block main_content